<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        {% include "nav.html" %}

        <h3>Preencha o formulário de contato</h3>


        <form method="POST" class="mt-4">
            {{ form.csrf_token }}
                    
            <div class="mb-3">
                {{ form.nome.label(class_="form-label") }}
                {{ form.nome(class_="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.email.label(class_="form-label") }}
                {{ form.email(class_="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.mensagem.label(class_="form-label") }}
                {{ form.mensagem(class_="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.btnSubmit(class_="btn btn-primary") }}
            </div>
        </form>

        {% if mensagem %}
            <!-- Modal de sucesso -->
            <div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="successModalLabel">Sucesso</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            {{ mensagem }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                        </div>
                    </div>
                </div>
            </div>

            <script>
                // Exibe o modal assim que a página for carregada
                var myModal = new bootstrap.Modal(document.getElementById('successModal'));
                myModal.show();
            </script>
        {% endif %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
