{% extends "base.html" %}

{% block content %}


<div class='container'>
    
    {% include "nav.html" %}
    <div>
        <hr>

        <h3>Faça seu Login</h3>

        {% if current_user.is_authenticated %}
        <span class="btn btn-primary">{{current_user.nome}} {{current_user.sobrenome}}</span>
        <a href="{{ url_for('logout') }}" class="btn btn-danger">Sair</a>
    </div>

    {% else %}    

            <form method="POST" action="/">
                {{ form.csrf_token }}
                        
                
                <div class="mb-3">
                    {{ form.email.label(class_="form-label") }}
                    {{ form.email(class_="form-control") }}
                </div>
                <div class="mb-3">
                    {{ form.senha.label(class_="form-label") }}
                    {{ form.senha(class_="form-control") }}
                </div>
              
                <div class="mb-3">
                    {{ form.btnSubmit(class_="btn btn-primary") }}
                </div>
            </form>
       <div class='col-12'> Ainda não tem cadastro? <a href="{{ url_for('cadastro') }}">Faça seu Cadastro aqui!</a></div>
        
    {% endif %}
            <hr>
            
            <img src="{{ url_for('static', filename='img/Rmm Logo.jpg') }}" alt="Logo Rmm" class="logo">

        <footer>
            <p>&copy; 2024 Reuven Martins de Meneses</p> 
        </footer>  
    </div>
</div>

{% endblock %}